/* Header styling */

header {
	background-color: #FFF;
	height: 70px;
	width: 100%;
	border-bottom: solid 1px #CCCCCC;
}

header #logo {
	content: url('../images/airbnb_logo.png');
	float: left;
	vertical-align: middle;
	margin-left: 20px;
}
